*{
    background-color: #F0F0F0;    
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: yellow;
}

h1 {
    background-color: #6934FF;
    color: white;
}

h2 {
    background-color: white;
}

h3 {
    text-transform: uppercase;
}

h3 span {
    text-transform: capitalize;
    font-size: smaller;
}

h3 span em {
    text-transform: none;
    font-size: larger;
}

p {
    background-color: white;
}